# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Raw local data
**/data/raw/*

# Generated outputs
**/outputs/images/*
**/outputs/logs/*

# Keep empty folder structure
!**/.gitkeep
